@model IEnumerable<InAndOut.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var expense in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelExpense => expense.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => expense.ItemValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@expense.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@expense.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
